.product-image{
    width: 100%;
    margin: auto;
    height: 500px;
    object-fit: cover;
    // border-radius: 10px;
    // object-position: 10% 66%;
    object-position: center;
    opacity: .6;
}

.typewriter {
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    
    border-right: 2px solid #387447; /* Cursor effect */
    animation: blink-caret 0.75s step-end infinite;
  }
  
  /* Blinking cursor effect */
  @keyframes blink-caret {
    50% {
      border-color: transparent;
    }
  }

  .search-container{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-color);
    color: black;
    padding: 1px 20px;
    // border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;

    overflow: hidden;

    display: flex;
    align-items: end;
    border: 2px solid black;
    border-radius: 40px;
    gap: 10px;
    min-width: 300px;
  }

.overlay-text {

    animation: blink-caret 0.75s step-end infinite;
  }

  .image-container {
    position: relative;
    display: inline-block;
    width: 100%;
  }