<div class="itinerary-form-container gap-3">
    <div class="flex-grow-1 text-center">
        
        <img src="assets/flight-booking-illustration.svg"  class="flight-booking-img" alt="flight-booking">
    </div>
    <div class="flex-grow-2 travel-form"  [formGroup]="travelForm">
        <h1>Schedule Your Journey</h1>
        <div class="d-flex justify-content-between gap-3 p-2">
            <p-floatlabel variant="on">
                <input pInputText id="first-name" formControlName="firstName" autocomplete="off"
                [ngClass]="{'ng-invalid ng-dirty': travelForm.controls['firstName'].invalid && (travelForm.controls['firstName'].touched || travelFormSubmitted)}"
                />
                <label for="first-name">First Name</label>
            </p-floatlabel>
        
            <p-floatlabel variant="on">
                <input pInputText id="last-name" formControlName="lastName" autocomplete="off" 
                [ngClass]="{'ng-invalid ng-dirty': travelForm.controls['lastName'].invalid && (travelForm.controls['lastName'].touched || travelFormSubmitted)}"
                />
                <label for="last-name">Last Name</label>
            </p-floatlabel>
        </div>

        <div class="d-flex justify-content-between gap-3 p-2">
            <p-floatlabel variant="on">
                <input pInputText type="email" id="email" formControlName="email" autocomplete="off" 
                [ngClass]="{'ng-invalid ng-dirty': travelForm.controls['email'].invalid && (travelForm.controls['email'].touched || travelFormSubmitted)}"
                />
                <label for="email">Email</label>
            </p-floatlabel>
        
            <p-floatlabel variant="on">
                <input pInputText id="phone-number" formControlName="contactNo" autocomplete="off" 
                [ngClass]="{'ng-invalid ng-dirty': travelForm.controls['contactNo'].invalid && (travelForm.controls['contactNo'].touched || travelFormSubmitted)}"
                />
                <label for="phone-number">Phone Number</label>
            </p-floatlabel>
        </div>

        <div class="d-flex justify-content-between gap-3 p-2">
            <p-floatlabel class="w-full md:w-56" variant="on">
                <p-dropdown 
                  [ngClass]="{'ng-invalid ng-dirty': travelForm.controls['service'].invalid && (travelForm.controls['service'].touched || travelFormSubmitted)}"
                  formControlName="service" 
                  inputId="service" 
                  [options]="services" 
                  [checkmark]="true" 
                  [showClear]="true"
                  optionLabel="label" 
                  styleClass="w-full">
                </p-dropdown>
                <label for="service">Select Service</label>
              </p-floatlabel>

            
            <p-floatlabel variant="on" >
                <p-inputnumber formControlName="numberOfPassengers" mode="decimal" inputId="passengersCount" [useGrouping]="false" 
                [ngClass]="{'ng-invalid ng-dirty': travelForm.controls['numberOfPassengers'].invalid && (travelForm.controls['numberOfPassengers'].touched || travelFormSubmitted)}"
                />
                <label for="passengersCount">No of Passengers</label>
            </p-floatlabel>
        </div>

        <div class="d-flex justify-content-between gap-3 p-2">
            <p-floatlabel variant="on">
                <input pInputText id="from" formControlName="from" autocomplete="off" 
                [ngClass]="{'ng-invalid ng-dirty': travelForm.controls['from'].invalid && (travelForm.controls['from'].touched || travelFormSubmitted)}"
                />
                <label for="from">From</label>
            </p-floatlabel>
        
            <p-floatlabel variant="on">
                <input pInputText id="to" formControlName="to" autocomplete="off" 
                [ngClass]="{'ng-invalid ng-dirty': travelForm.controls['to'].invalid && (travelForm.controls['to'].touched || travelFormSubmitted)}"
                />
                <label for="to">To</label>
            </p-floatlabel>
        </div>

        <div class="w-full p-2">
            <p-floatlabel variant="on" class="w-full">
                <textarea pTextarea id="remarks" formControlName="remarks" rows="5" cols="30" style="resize: none" class="h-full w-full"
                [ngClass]="{'ng-invalid ng-dirty': travelForm.controls['remarks'].invalid && (travelForm.controls['remarks'].touched || travelFormSubmitted)}"
                ></textarea>
                <label for="remarks">Remarks</label>
            </p-floatlabel>
        </div>

        <div class="p-2 d-flex justify-content-end">
            <p-button (click)="onSubmit()" icon="pi pi-check" severity="success" [rounded]="true"  label="Submit"></p-button>
        </div>
        

    </div>
   
</div>