::ng-deep #service {
    color: black;
    width: 258px;
}
::ng-deep #departure {
    color: black;
    background: white;
    width: 100%;
}
::ng-deep #return {
    color: black;
    background: white;
    width: 100%;
}
::ng-deep #passengersCount {
    color: black;
    background: white;
    width: 100%;
}
::ng-deep #country-code{
    color: black;
}
::ng-deep .p-datepicker{
    width: 100%;
}
.p-inputtext{
    color: black;
    background: white;
    width: 100%;
}
.p-inputnumber{
    width: 100%;
}
.p-inputgroup{
    width: 300px;
}
.p-inputgroup .p-inputwrapper{
    width: 50%;
}
.p-inputgroup .p-floatlabel{
    min-width: auto;
}
.p-inputgroup .p-select-label{
    color: black;
}
.p-textarea{
    color: black;
    background: white; 
    width: 100%;
}
.p-floatlabel{
    min-width: 300px;
}
.p-select{
    background: white;
}
.p-select-label{
    color: black;
}
.flag-img{
    height: 10px;
    width: 20px;
}
.itinerary-form-container{
    margin: 4em 5em 4em 5em;
    display: flex;
    background: var(--primary-color);
    padding: 2em;
    flex-wrap: wrap;
    justify-content: center;
    // justify-content: center;
}

.flight-booking-img{
    width: 550px;
}

.travel-form{
    background: var(--primary-color);
}

@media (max-width: 900px) {
    .p-floatlabel{
        width: 100%;
    }
    .p-select{
        width: 100%;
    }
    .p-inputgroup{
        width: 100%;
    }
    .flight-booking-img{
        min-width: 250px;
        width: 100%;
    }
}

@media (max-width: 650px) {
    .itinerary-form-container{
        padding-inline: 5px;
        margin: 2em;
    }
    
}