// .navbar {
//     background: var(--primary-color);
//     padding: 1rem;
//     display: flex;
//     justify-content: center;
//     ul {
//       list-style: none;
//       display: flex;
//       gap: 20px;
//       li {
//         a {
//           text-decoration: none;
//           color: white;
//           font-weight: 500;
//           &:hover {
//             color: var(--secondary-color);
//           }
//         }
//       }
//     }
//   }
  
/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background: var(--nav-color);
  color: white;
}

/* Logo */
.logo {
  height: 40px;
  width: auto;
}

/* Navbar Links */
.nav-links {
  display: flex;
  list-style: none;
  gap: 24px;
}

.nav-links li a {
  color: var(--dark-text-color);
  text-decoration: none;
  padding: 8px 12px;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #facc15; /* Yellow */
}

/* Menu Button (for small screens) */
.menu-btn {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  display: none;
  cursor: pointer;
}

/* Sidebar Styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: var(--nav-color);
  display: none;
  // border-right: 1px solid black;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  
  padding-top: 60px;
  transition: left 0.3s;

  opacity: 1 !important;
  background: var(--nav-color);
  position: fixed;
  z-index: 1000; 
}

.sidebar.open {
  left: 0;
}

.sidebar-links {
  list-style: none;
  padding: 0;
}

.sidebar-links li {
  padding: 10px 20px;
}

.sidebar-links li a {
  color: var(--dark-text-color);
  text-decoration: none;
  display: block;
  padding: 10px;
}

.sidebar-links li a:hover {
  background: #facc15;
}

/* Close Button */
.close-btn {
  position: absolute;
  top: 20px;
  right: 10px;
  background: none;
  border: none;
  color: var(--dark-text-color);
  font-size: 24px;
  cursor: pointer;
}

ul{
  margin-top: 0;
  margin-bottom: 0;
}

/* Responsive Design */
@media (max-width: 750px) {
  .menu-btn {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .overlay {
    display: block;
  }
}
