// .carousel-item {
//     text-align: center;
//     width: 100%;
//   }
  
//   .carousel-image {
//     width: 100%;
//     max-width: 500px;
//     height: auto;
//     object-fit: cover;
//     border-radius: 50%;
//     overflow: hidden;
//   }

.p-carousel-items-container {
    visibility: hidden;
}
.p-carousel-items-container.p-carousel-items-container-ready {
    visibility: visible;
}

.p-carousel {
    overflow: hidden;
}

//

.form-container{
    margin: 2em 5em 2em 5em;
    display: flex;
    gap: 2rem;
    background: rgb(223,240,244);
    background: linear-gradient(135deg, rgb(223, 240, 244) 0%, rgb(8, 33, 41) 0%, rgb(69, 108, 130) 11%, rgb(67 78 119) 20%, rgb(80 76 122) 34%, rgb(51 63 104) 43%, rgb(49 56 82) 49%, rgb(11, 8, 53) 65%);

//     background: rgb(223,240,244);
// background: linear-gradient(135deg, rgba(223,240,244,1) 0%, rgba(7,37,47,1) 0%, rgba(69,108,130,1) 11%, rgba(125,139,206,1) 20%, rgba(154,152,175,1) 34%, rgba(91,82,82,1) 49%, rgba(11,8,53,1) 65%);
    border-radius: 50px;
    padding: 2em;

}
.aeroplane-image{
    object-fit: cover;
    height: 250px;
    width: 100%;
    opacity: .8;
}
.wings-block{
    flex: 1;
    min-width: 150px;
    -webkit-mask-image: url('/need-tt-transparent.png');
    mask-image: url('/need-tt-transparent.png');
    // mask-repeat: no-repeat; 
    
    -webkit-mask-size: contain;
    mask-size: contain;

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;
}
.form-block{
    flex: 2;
    border-right: 1px solid white;
    text-align: left;
    padding-inline: 5px;
    padding-block: 2.5em;
    color: white;
}


  
@media (max-width: 650px) {
    .wings-block{
        flex: auto;
    }
    .form-container{
        flex-wrap: wrap-reverse;
        margin: 2em;
    }
    .form-block{
        flex: auto;
        border-right: none;
        border-top: 1px solid white;
    }
    
}