.services-first-block{
    width: 100%;
    margin-block: 2rem;
    padding-top: 5rem;
    background: rgb(227,228,18);
    background: linear-gradient(90deg, rgba(227,228,18,1) 0%, rgba(228,230,15,0.9220938375350141) 35%, rgba(244,237,8,1) 100%);
}
.services-first-content{
    font-size: 10rem;
    margin-left: 4rem;
    margin-bottom: 2rem;
    font-weight: 500;
    color: #3b3636;
    line-height: 0.9;
}