.destination-list-container{
    margin: 2em 5em 2em 5em;
}
::ng-deep .p-card{
    background: white !important; 
    color: black !important;
    min-width: 120px;
    margin: 1rem;
    overflow: hidden;
}
::ng-deep .p-card-title{
    font-size: 16px;
}
::ng-deep .p-card-subtitle{
    font-size: 15px;
}
::ng-deep .p-card-content{
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 84px;
   
}
::ng-deep .p-card:hover {
    transform: scale(1.05);
    box-shadow: 1px 4px 10px rgb(140 151 45 / 10%);
    transition: all 0.3s ease-in-out;
}
.destination-image{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

@media (max-width: 650px) {
    .destination-list-container{
        margin: 2em;
    }
}