
<div id="top"></div>
<app-navbar></app-navbar>

<ngx-spinner
bdColor="rgba(0, 0, 0, 0.8)"
size="medium"
color="#fde047"
type="ball-atom"
[fullScreen] = "true"
>
<p style="color: #fde047" > Loading... </p>
</ngx-spinner>

<p-toast [breakpoints]="{ '600px': { width: '80%', right: '0', left: '0',margin: 'auto' } }" [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'200ms'" [hideTransitionOptions]="'200ms'" [showTransformOptions]="'translateX(100%)'"/>

<router-outlet />
 <div *ngIf="dockDisplay" class="dock">
    <a href="https://wa.me/971600566333?text=Hello%20there!">  <img src="/assets/whatsapp_icon.png" alt="whatsapp_image"></a>
    <button (click)="scrollToTop()"><span class="material-icons">keyboard_arrow_up</span> </button>
    <button (click)="scrollToDown()"><span class="material-icons">keyboard_arrow_down</span> </button>
 </div>

 <div id="bottom"></div>
<!-- <div class="card flex justify-center">
  <p-button severity="secondary" [rounded]="true"  label="secondary" ></p-button>
  <p-button severity="primary" [rounded]="true"  label="Primary Button"></p-button>
</div>
<span class="material-icons">home</span> -->

