<app-intro [fullText]="'About Us'"></app-intro>

<div class="about-first-block">
    <div class="about-first-content">About Need</div>
</div>

<div class="about-detail-block">
    <div>
        <h2>Travel More, Worry Less</h2>
        <p>We create unforgettable travel experiences tailored to your needs, making every journey seamless and extraordinary. Explore the world with us! 🌍✨</p>
    </div>
    <div>
        <img class="air-baloon-img" src="assets/photographer.svg"  alt="">
    </div>
</div>

<app-footer></app-footer>